.slide {
    contain: content;
    overflow: hidden;
}
.background {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overlay svg{
    position: relative;
    width: 50.5vw;
    margin-top: 6px;
    margin-right: -70px;
}
.content {
    position: absolute;
    top: 0;
    left: 0;
    contain: content;
    z-index: 29;
    color: var(--white);
    width: 100%;
}
.centerContent {
    max-width: var(--boxed-size);
    width: 100%;
    height: 430px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centerContent h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin: 10px 0;
}
.centerContent h2 {
    font-weight: 900;
    font-size: 45px;
    line-height: 45px;
    max-width: 480px;
    margin: 0;
}
.slider {
    position: relative;
    z-index: 39;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: -47px 0 47px 0;
}
.slider span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--text-tertiary);
    transition: 0.3s;
    cursor: pointer;
}
.slider span.active {
    background-color: var(--red);
}
.slider span:hover {
    transform: scale(1.3);
}

@media(max-width:991px) {
    .background {
        height: 191px;
        margin: 0;
    }
    .background img {
        width: 100%;
        height: 191px;
        object-fit: cover;
    }
    .content {
        height: 191px;
    }
    .overlay {
        width: 100vw;
        height: 191px;
        margin: 0;
        position: absolute;
        z-index: 9;
        background-color: rgba(0, 0, 0, 0.55);
    }
    .overlay svg {
        display: none;
    }
    .centerContent {
        padding: 0 20px;
        height: 191px;
        
        margin: -13px 0 13px 0;
    }
    .centerContent h1 {
        font-size: 20px;
        line-height: 20px;
    }
    .centerContent h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .slider {
        margin: -26px 0 13px 0;
        padding: 0 0 13px 0;
    }
}