.button {
    display: flex;
    align-items: center;
    border: none;
    gap: 5px;
    cursor: pointer;
}
.primary {
    font-size: 13px;
    font-weight: 400;
    font-family: var(--font-primary);
    background-color: transparent;
    color: var(--text-primary);
}
.secondary {
    width: 195px;
    height: 38px;
    text-transform: uppercase;
    align-items: center;
    justify-content: flex-start;
    gap: 18px;
    margin: 12.5px;
    border-radius: 5px;
    padding: 0 18px;
    font-size: 12px;
    font-weight: 600;
    font-family: var(--text-primary);
    text-align: left;
}