.container {
    height: 146px;
    padding: 24px 0 36px 0  ;
    background-color: #F2F2F2;
}
.title {
    text-align: center;
    line-height: 22px;
    font-size: 22px;
    font-weight: 700;
    font-family: var(--font-secondary);
}
.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}
.message {
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.message h2 {
    margin: 0;
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
}
.message .button {
    width: 328px;
    height: 48px;
    margin: 15px;
}
.message p {
    margin: 0;
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.button {
    height: 48px;
}
.error {
    background-color: #333333;
}