.container {
    display: grid;
    width: 100%;
    max-width: 216px;
    contain: content;
}
.off {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 0;
    height: 0;
    position: absolute;
    border: 40px solid;
    margin-left: 135px;
    font-size: 16px;
    font-weight: 900;
    line-height: 21px;
    color: var(--white);
    border-color: var(--red) var(--red) transparent transparent;
}
.image {
    width: 216px;
    height: 200px;
}
.content {
    display: grid;
    grid-template-rows: auto auto 30px auto 25px 45px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.title {
    font-weight: 600;
    font-size: 12px;
    line-height: 16.4px;
    margin: 0;
    text-align: center;
    color: var(--text-primary);
}
.ratio {
    margin: 0 auto;
}
.listPrice {
    font-weight: 400;
    font-size: 12px;
    font-weight: 16.4px;
    text-decoration: line-through;
    text-align: center;
    color: var(--text-primary);
}
.price {
    font-weight: 700;
    font-size: 18px;
    line-height: 24.5px;
    margin: -5px;
    text-align: center;
    color: var(--black);
}
.installments p {
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    margin: 5px 0 10px 0;
    text-align: center;
    color: var(--text-primary);
}
.button {
    opacity: 0;
    width: 125px;
    transition: 0.4s;
    margin: 0 auto 15px auto;
}
.container:hover .button {
    opacity: 1;
}
.container:hover .content {
    background-color: #E6E8EA;
}
@media(max-width: 776px) {
    .container {
        max-width: 140px;
    }
    .off {
        border: 30px solid;
        margin-left: 80px;
        font-size: 10px;
        font-weight: 400;
        line-height: 21px;
        color: var(--white);
        border-color: var(--red) var(--red) transparent transparent;
    }
    .image {
        width: 140px;
        height: 122px;
    }
    .title {
        font-size: 10px;
    }
    .content {
        padding: 15px;
    }
    .listPrice {
        font-size: 11px;
    }
    .price {
        font-size: 16px;
    }
    .installments p {
        font-size: 11px;
    }
    .button {
        opacity: 1;
        padding: 9px;
    }
}