body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --boxed-size: 1160px;
  
  --white:#ffffff;
  --black: #000000;
  --red: #F8475F; 
  --text-primary: #7A7A7A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}